<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>멤버 사이트</title>
    <link rel="stylesheet" href="/css/board.css">
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>title</th>
            <th>writer</th>
            <th>regdate</th>
            <th>hit</th>
        </tr>
        <tr th:each="board : ${boardList}">
            <td>1</td>
            <td th:text="${board.title}"></td>
            <td th:text="${board.writer}"></td>
            <td th:text="${board.regdate}"></td>
            <td th:text="${board.hit}"></td>
        </tr>
        </thead>
    </table>
</body>
</html>